.rootPane {	
    -fx-background-color: #DADADA;
    -fx-padding: 10.0;
}

.rootLayout {	
    -fx-font: 14.0px "Arial";
}

.displayPane {	
    -fx-background-color: #E6E6E6;
    -fx-padding: 10.0;
}

.displayGrid {	
    -fx-background-color: #FFFFFF;
    -fx-padding: 4.0;
}

.toolbar{
    -fx-background-color: #DADADA;
    -fx-padding: 4.0;	
}

.boldedLabel{
    -fx-font-weight: bold;
}

.errorLabel{
    -fx-font: 12.0px "Courier";
    -fx-text-fill: #FF0000;
    -fx-font-weight: bold;
}

.smallItalicLabel{
    -fx-font-style: italic;	
    -fx-font: 10.0px "Serif";
}

.stepLabel{
    -fx-font: 14.0px "Arial";
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
}

.rowTag{
    -fx-font: 12.0px "Serif";
    -fx-text-fill: #222222;
    -fx-font-style: italic;
    -fx-text-alignment: right;
}

.commentTag{
    -fx-font: 12.0px "Serif";
    -fx-text-fill: "blue";
    -fx-font-weight: bold;
    -fx-font-style: italic;
}

.bigCharCell{
    -fx-padding: 4.0;		
}

.bigChar{
    -fx-font: 24.0px "Arial";
    -fx-font-weight: bold;
    -fx-padding: 4.0;	
}

.bigExpansionChar{
    -fx-font: 24.0px "Arial";
    -fx-font-weight: bold;
}

.bigExpansionExponent{
    -fx-font: 12.0px "Arial";
    -fx-font-weight: bold;
}



