.rootPane {	
    -fx-background-color: #DADADA;
    -fx-padding: 10.0;
}

.rootLayout {	
    -fx-font: 14.0px "Arial";
}

.displayPane {	
    -fx-background-color: #E6E6E6;
    -fx-padding: 10.0;
}

.displayGrid {	
    -fx-background-color: #FFFFFF;
    -fx-padding: 4.0;
}

.toolbar{
    -fx-background-color: #DADADA;
    -fx-padding: 4.0;	
}

.modeOptionPane {	
    -fx-padding: 5.0;
}

.footerPane {	
    -fx-background-color: #C7C7C7;
    -fx-padding: 5.0;
}

.boldedLabel{
    -fx-font-weight: bold;
}

.errorLabel{
    -fx-font: 12.0px "Courier";
    -fx-text-fill: #FF0000;
    -fx-font-weight: bold;
}

.smallItalicLabel{
    -fx-font-style: italic;	
    -fx-font: 11.0px "Serif";
}

.stepLabel{
    -fx-font: 14.0px "Arial";
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
}

.rowTag{
    -fx-font: 12.0px "Serif";
    -fx-text-fill: #222222;
    -fx-font-style: italic;
    -fx-text-alignment: right;
}

.commentTag{
    -fx-font: 12.0px "Serif";
    -fx-text-fill: "blue";
    -fx-font-weight: bold;
    -fx-font-style: italic;
    -fx-padding: 4.0;	
}

.bigCharCell{
    -fx-padding: 4.0;		
}

.bigChar{
    -fx-font: 24.0px "Arial";
    -fx-font-weight: bold;
    -fx-padding: 4.0;	
}

.sideBarTableDigit{
    -fx-font: 19.0px "Arial";
    -fx-font-weight: bold;
}

.sideBarTable{
    -fx-padding: 2.0;
    -fx-spacing: 4.0;    
}

.sideBarTitle{
    -fx-font: 14.0px "Arial";
    -fx-text-fill: #E6E6E6;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
    -fx-padding: 4.0;	
}

.bigExpansionChar{
    -fx-font: 24.0px "Arial";
    -fx-font-weight: bold;
}

.bigExpansionExponent{
    -fx-font: 12.0px "Arial";
    -fx-font-weight: bold;
}

.scroll-bar{
	 -fx-background-color: "royalblue";
}

.scroll-bar:vertical .increment-button, .scroll-bar:vertical .decrement-button {
	 -fx-background-color:transparent;
	 -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
	 -fx-background-radius: 2.0em;
	 -fx-padding: 5.0;
}

.scroll-bar:vertical .increment-arrow {
	 -fx-background-color: #E6E6E6;
	 -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
	 -fx-padding: 0.25em;
	 -fx-rotate: 0.0;
}
.scroll-bar:vertical .decrement-arrow {
	 -fx-background-color: #E6E6E6;
	 -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
	 -fx-padding: 0.25em;
	 -fx-rotate: -180.0;
}


